.DS_Store

# package files.
node_modules

# shellscript files. 
script

# config files.
themes/simple-line/config/defines.php

# binary files.
themes/simple-line/img/*
themes/simple-line/favicons
!themes/simple-line/img/arrow.svg
!themes/simple-line/screenshot.png
docker/db/data
!docker/db/data/.gitkeep

# compiled files.
style.css

# env files.
.env
